<a href="https://colab.research.google.com/github/PapaZeusOne/Automated-Trading-Bot/blob/main/Automating_Stock_Trades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="font-family: Arial; font-size:1.75em;color:purple; font-style:bold">Automated Stock Trading Bot</p>
<br>
This project focuses on the automation of stock trading, while computing different scores based on technical indicators and comparing them to each other. By Backtesting the data, a sufficient model will be produced, which allows profitable investments on the stock market.

<br>The data is received from the **Alpha Vantage API**, which restrics in the free version the user to 5 API calls per minute. The API yields stock data in the form of "Open"-, "High"- and other formats. These are represented as the columns header. Data was collected since 1999. Therefore the data set had to be resized to ensure sufficient computing.<br>

<br>Import python files in which the **Indicators** are evaluated and **Combine**d. <br>

In [20]:
%run Packages/imports_buy.py
%run Stocks/Combine_Stock.py

<br> Combine different stocks by their ticker. </br>

In [21]:
#stocks_dax = ['ADS.DE', 'ALV.DE', 'BAS.DE', 'BAYN.DE', 'BMW.DE', 'CON.DE', '1COV.DE', 'DAI.DE', 'DHER.DE', 'DBK.DE', 'DB1.DE', 'DPW.DE', 'DTE.DE', 'DWNI.DE', 'EOAN.DE', 'FRE.DE', 'FMS', 'HEI.DE', 'HEN3.DE', 'IFX.DE', 'LIN.DE', 'MRK', 'MTX.DE', 'MUV2.DE', 'RWE.DE', 'SAP.DE', 'SIE.DE', 'ENR.F', 'VOW.DE', 'VNA.DE']
#stocks_random = ['AMZN', 'AAPL', 'SAP', 'ACN', 'VOW.DE', 'PLUG', 'MDO.DE', 'PYPL', 'V', 'YNDX']

stock_list_1 = ['AMZN', 'AAPL', 'SAP', 'ACN', 'VOW.DE']
stock_list_2 = ['PLUG', 'MDO.DE', 'PYPL', 'V', 'YNDX']
stock_list_3 = ['DAI.DE', 'ADS.DE', 'ALV.DE', 'BAS.DE', 'BAYN.DE']

<br>As the Alpha Vantage API restrics us for 5 API calls per minute, a little walkaround must be produced. Compile each df_list individually, as the information will be stored in the cache. In the next cell the df_lists will be combined, so more stocks can be compared to each other. <br>

In [23]:
### compile each df_list after 1 min as a little workaround because Alpha Vantage restricts us for 5 API calls 
df_list_1 = combine_stocks_today(stock_list_2, True)
time.sleep(60)
df_list_2 = combine_stocks_today(stock_list_1, True)
time.sleep(60)
df_list_3 = combine_stocks_today(stock_list_3, True)

In [24]:
df_complete = pd.concat([df_list_1, df_list_2, df_list_3])

<br>Build a dataframe based on the values from yesterday, as all data will be then on the same dimensional level. Drop all values except the last row. Resulting from that the dataframe is more readable. <br>

In [25]:
df_yd = df_complete.drop_duplicates(subset='stock_id', keep='last')

<br> Calculate a score based on the indicators given. </br>

In [26]:
%run Scores/Combine_Score.py

In [27]:
df_yd['score'] = df_yd.apply(lambda row: relative_score(row), axis=1)
df_yd.sort_values(by=['score'], ascending=False)

PLUG -0.10464701482254157 0.025871410691498675 -0.008501796743208168 -0.0147895681811262 0 0.11983342174143137 0.017766452686054104

MDO.DE 0.031637886947275096 -0.004466551037292099 -0.003866922286239305 -0.006926355671322937 0 0.11323434736646784 0.1296124053188886

PYPL 0.02221688274459388 0.00829202145170016 -0.015523269426128694 -0.023438615325753864 -0.05127292967003361 0.10164932896392496 0.04192341873830284

V 0.017447727286250547 -0.009632575939197419 -0.02026416391066177 -0.032310541418968164 -0.006070791105830309 0.07207901333276753 0.02124866824436042

YNDX 0.015505556353040184 0.017905641232476843 -0.0032222217185102764 0.026322848512415176 0.0761710047924804 0.15669189222955612 0.2893747214014585

AMZN -0.005627080638584192 0.01263301656515059 -0.0030494930740881943 -0.015239203030354642 0 0.11927086062301132 0.10798810044513488

AAPL 0.06321477180172952 -0.010727814190516494 0.011371053919397411 0.0009623316864437736 0 0.12053694114787784 0.18535728436493204

SAP 0.03638968809349774 -0.0037124550454636918 0.00890538226154547 0.00922729941667444 0 0.12205489254403762 0.17286480727029158

ACN 0.0763000199215147 0.003908151026883466 -0.006899853361110209 0.0308331178224035 0.01629002951199454 0.16453344851628643 0.2849649134379724

VOW.DE 0.05309702190858734 -0.039579431506630014 -0.01636800947090855 -0.020695777617488642 -0.13554287771848217 0.09262040595873405 -0.06646866844618798

DAI.DE 0.0013865115138369521 -0.026303639790552502 -0.025889165075995035 -0.042368748984124904 -0.009152586187363587 0.07240920566293181 -0.029918422861267266

ADS.DE 0.03105451485681443 -0.016991545852583223 -0.013422683785546452 -0.02071254759199026 -0.030838095628313855 0.10383877546839494 0.05292841746677558

ALV.DE -0.017676942006423557 0.012355591852944436 -0.00995420390387447 -0.012041489488535229 0 0.11553147015293304 0.08821442660704422

BAS.DE 0.004591625813066713 -0.014601199789127661 -0.011475797921379871 -0.014543585943988746 -0.03786155897043386 0.10308626153888209 0.029195744727018663

BAYN.DE -0.03908838558045036 0.010282258082507378 -0.018595264855935878 -0.02638668942681366 0 0.10947359253332259 0.03568551075263007

<ipython-input-27-fd477b20e8aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yd['score'] = df_yd.apply(lambda row: relative_score(row), axis=1)

,Open,High,Low,Close,Adj Close,stock_id,ema_25,ema_100,sma_25,sma_100,bollinger,bollinger_lower_band,bollinger_upper_band,macd,signalline,RSI,CCI,pct_change,score
date,,,,,,,,,,,,,,,,,,,
2021-08-26,69.36,70.5297,69.3250,70.40,70.40,YNDX,68.884339,67.832557,68.594400,67.080150,68.908064,66.687116,70.173884,0.176051,-0.076060,65.810595,120.691450,0.038348,0.289375
2021-08-26,334.47,334.4700,331.2443,333.23,333.23,ACN,323.272795,300.355653,323.262800,298.765530,325.305202,312.351167,336.587833,5.812846,5.552383,69.104048,78.319600,0.035422,0.284965
2021-08-26,148.35,149.1200,147.5100,147.54,147.54,AAPL,146.876197,138.143488,147.398154,136.199423,147.457097,144.094991,151.016866,1.372100,1.688656,50.625515,-1.034836,0.009580,0.185357
2021-08-26,147.26,147.7500,146.8600,147.13,147.13,SAP,146.413015,141.272165,145.784800,141.515720,146.773191,143.715147,150.130853,1.006388,1.115631,51.263055,-8.919453,0.005192,0.172865
2021-08-26,204.20,204.2000,201.3000,201.30,201.30,MDO.DE,201.761470,195.573925,202.704000,195.933471,202.081433,197.306357,206.303643,0.767165,0.946988,47.558426,-4.268390,0.002990,0.129612
2021-08-26,3299.00,3332.0000,3296.0000,3316.00,3316.00,AMZN,3345.202777,3364.133025,3367.315200,3383.776000,3326.143050,3189.555487,3407.423513,-56.962274,-65.340491,50.093761,54.886422,-0.008652,0.107988
2021-08-26,200.00,200.5500,198.2600,198.88,198.88,ALV.DE,201.633693,205.262099,201.304000,209.804588,200.879596,190.391948,207.503052,-1.860306,-2.351762,48.523217,-42.354467,0.005867,0.088214
2021-08-26,305.75,307.3500,301.4500,305.05,305.05,ADS.DE,309.495147,300.173407,311.502000,296.170276,309.200298,295.430306,327.639694,-1.703872,-0.667218,43.612286,-56.275925,-0.017711,0.052928
2021-08-26,277.89,278.6800,273.5200,273.62,273.62,PYPL,278.960485,272.897552,280.187200,273.518000,277.934451,268.625732,281.746268,-3.179143,-3.632916,42.692718,6.620848,-0.021178,0.041923
2021-08-26,47.52,47.6100,46.9500,47.34,47.34,BAYN.DE,48.501170,50.474122,48.623000,51.629104,48.236979,45.665551,50.421949,-0.710579,-0.807932,45.978909,-62.144706,0.006806,0.035686
2021-08-26,66.03,66.3000,65.6500,65.97,65.97,BAS.DE,66.783269,66.478027,66.943600,67.312527,66.735847,64.609139,69.276861,-0.230225,-0.037577,43.296230,-56.227269,-0.016547,0.029196
2021-08-26,232.13,232.6300,230.1500,230.52,230.52,V,235.881007,231.835996,238.216918,232.932903,235.287913,227.534913,243.673032,-2.225397,-1.781297,30.273186,-70.160489,-0.043752,0.021249
2021-08-26,26.07,26.8677,25.7300,25.90,25.90,PLUG,26.377599,29.460558,26.288800,28.141200,26.122085,23.567987,28.608013,-0.670986,-0.805000,50.330037,6.538555,0.000000,0.017766
2021-08-26,70.64,70.9800,70.0300,70.70,70.70,DAI.DE,72.894849,72.793920,73.828000,74.952600,72.579010,68.678156,78.397844,-1.119228,-0.747295,30.411866,-60.121460,-0.070104,-0.029918
2021-08-26,283.00,284.4000,280.8000,282.40,282.40,VOW.DE,286.787552,272.327759,288.368000,280.082971,287.099243,270.778331,310.501669,-0.165547,2.069899,38.900571,-60.065374,-0.052349,-0.066469

In [105]:
df_test_today = combine_stocks_today(stock_list_1, False)
df_test_today = df_test_today.drop_duplicates(subset='stock_id', keep='last')
time.sleep(60)
df_test_14d_ago = combine_stocks_Xdays_ago(stock_list_1, 14, True)
df_test_14d_ago = df_test_14d_ago.drop_duplicates(subset='stock_id', keep='last')

In [106]:
df_test_today.reset_index(inplace=True)
df_test_14d_ago.reset_index(inplace=True)

In [107]:
df_test_14d_ago['score'] = df_test_14d_ago.apply(lambda row: relative_score(row), axis=1)
#df_test_14d_ago.sort_values(by=['score'], ascending=False)

AMZN 0.01684995118877608 -0.04164132476657145 -0.03681092924432605 -0.06065151516185474 0.261202739269562 0.055880789329192736 0.19482971061477858

AAPL 0.06590517758071823 -0.013760730995480142 -0.010493098403236978 0.01813784061765511 0.10218329589855601 0.14433352684385853 0.30630601154207077

SAP 0.03485194824078497 0.0089400402957307 -0.0005393278944034741 0.018951462738445057 0.03464357376315963 0.16213000819768147 0.25897770534139836

ACN 0.07077683062231088 -0.009624992029036994 -0.0044797467533439495 0.017026071723799774 0.10608169267569956 0.14484403118372258 0.32462388742315185

VOW.DE 0.06837323290120789 0.046685585705134036 -0.016581209692460908 0.10247813979574993 -0.24355653880255382 0.2004939637225769 0.15789317362965405

In [108]:
df_test_today['Adj Close 14d ago'] = df_test_14d_ago['Adj Close']
df_test_today['Score 14d ago'] = df_test_14d_ago['score']

In [111]:
delete_values = ['Open', 'High', 'Low', 'Close', 'date']
for column in delete_values:
    del df_test_today[column]

In [121]:
highest_score = df_test_today['Score 14d ago'].max()
df_test_today['Highest scored stock 14d ago'] = np.where((df_test_today['Score 14d ago'] == highest_score), 1, 0)

In [122]:
df_test_today['Pct Change'] = (((df_test_today['Adj Close 14d ago'] / df_test_today['Adj Close'])-1)*100)

In [123]:
df_test_today.head()

,Adj Close,stock_id,Adj Close 14d ago,Score 14d ago,Highest scored stock,Pct Change,Highest scored stock 14d ago
0,3316.00,AMZN,3303.50,0.194830,0,-0.376960,0
1,147.54,AAPL,148.89,0.306306,0,0.915006,0
2,147.13,SAP,147.75,0.258978,0,0.421396,0
3,333.23,ACN,321.76,0.324624,1,-3.442067,1
4,282.40,VOW.DE,313.00,0.157893,0,10.835694,0