<a href="https://colab.research.google.com/github/PapaZeusOne/Automated-Trading-Bot/blob/main/Automating_Stock_Trades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
%run Packages/imports_buy.py
%run Stocks/Combine_Stock.py

<br> Combine Stocks and calculate the values for each given indicator </br>

In [18]:
stocks_dax = ['ADS.DE', 'ALV.DE', 'BAS.DE', 'BAYN.DE', 'BMW.DE', 'CON.DE', '1COV.DE', 'DAI.DE', 'DHER.DE', 'DBK.DE', 'DB1.DE', 'DPW.DE', 'DTE.DE', 'DWNI.DE', 'EOAN.DE', 'FRE.DE', 'FMS', 'HEI.DE', 'HEN3.DE', 'IFX.DE', 'LIN.DE', 'MRK', 'MTX.DE', 'MUV2.DE', 'RWE.DE', 'SAP.DE', 'SIE.DE', 'ENR.F', 'VOW.DE', 'VNA.DE']
stocks_random = ['AMZN', 'AAPL', 'SAP', 'ACN', 'VOW.DE', 'PLUG', 'MDO.DE', 'PYPL', 'V', 'YNDX']

stock_list_1 = ['AMZN', 'AAPL', 'SAP', 'ACN', 'VOW.DE']
stock_list_2 = ['PLUG', 'MDO.DE', 'PYPL', 'V', 'YNDX']
#stock_list_3 = ['DAI.DE', 'ADS.DE', 'ALV.DE', 'BAS.DE', 'BAYN.DE']

In [ ]:
### compile each df_list after 1 min as a little workaround because Alpha Vantage restricts us for 5 API calls 
#df_list_1 = combine_stocks_today(stock_list_1)
df_list_2 = combine_stocks_today(stock_list_2)

In [20]:
df_complete = pd.concat([df_list_1, df_list_2], ignore_index=True)

In [22]:
df_yd = df_complete.drop_duplicates(subset='stock_id', keep='last')
df_yd

,Open,High,Low,Close,Adj Close,stock_id,ema_25,ema_100,sma_25,sma_100,bollinger,bollinger_lower_band,bollinger_upper_band,macd,signalline,RSI,CCI,dead_cat_bounce
154,3627.750,3637.9500,3580.010,3599.92,3599.92,AMZN,3580.538279,3398.223781,3591.650800,3344.139800,3598.918562,3476.890005,3783.963995,45.175867,57.790964,41.135898,-31.631900,False
309,144.685,146.5500,144.580,145.64,145.64,AAPL,142.828667,133.660828,143.066400,131.260251,144.002296,139.078963,151.128037,3.134347,3.708395,51.210311,-31.409980,False
464,143.650,144.6500,143.630,144.34,144.34,SAP,142.902533,138.439257,143.582400,136.532926,142.967026,136.333369,151.987631,-0.162520,0.273691,49.104175,3.169200,False
619,317.820,319.1400,316.130,318.35,318.35,ACN,308.562274,288.177800,308.354415,287.466837,310.845575,301.269863,322.892863,6.604594,6.788231,64.348480,70.679524,False
776,281.400,286.2000,273.000,283.00,283.00,VOW.DE,277.625262,263.460266,275.538752,277.612781,277.505653,263.426890,288.098610,0.054351,-0.908125,57.492261,13.803393,False
931,27.830,28.0801,27.140,27.20,27.20,PLUG,28.475112,31.151414,29.402800,30.570900,28.183407,23.848578,32.942422,-0.972225,-0.941366,41.714981,28.597569,False
1088,204.500,206.2000,203.900,205.70,205.70,MDO.DE,200.163780,192.464864,199.196000,192.808922,201.032404,192.510924,208.239076,2.819665,2.239531,63.552963,64.863021,False
1243,285.370,289.0000,281.600,283.17,283.17,PYPL,294.218595,271.784926,296.814400,267.310350,296.084951,285.611059,310.354941,4.241154,6.290927,30.924678,-167.823511,True
1398,248.110,250.3800,247.095,247.92,247.92,V,242.519230,230.476174,241.789200,229.316779,243.758918,233.604050,253.126950,3.702981,3.520095,61.090513,50.858502,False
1553,69.050,69.1700,68.290,68.94,68.94,YNDX,69.473838,67.501772,70.079200,66.438950,69.531193,67.905072,72.103928,-0.032449,0.211250,41.843647,-60.677989,False

<br> Calculate a score based on the indicators </br>

In [23]:
%run Scores/Combine_Score.py

In [24]:
df_yd['score'] = df_yd.apply(lambda row: relative_score(row), axis=1)
df_yd.sort_values(by=['score'], ascending=False)

AMZN 0.0536499387775613 -0.017521357072532995 0.024792830636551244 0.002302339637249906 -0.08586893679679986 0.09794261391462858 0.07529742909665818

AAPL 0.06859031891124423 -0.019707752755102614 0.013046212620705266 0.01798884993261818 0 0.12192931307587104 0.2018469417853361

SAP 0.03223996093800596 -0.015110527488294556 0.021273291575764852 0.005276412707964306 0 0.11691470188796135 0.16059383962140192

ACN 0.07073575462101189 -0.002884202316681961 -0.004673161222236155 0.03241589787549892 0.10275491154982319 0.153210666344666 0.3515598668520819

VOW.DE 0.053765205210760225 0.01700487985741239 -0.0006996719532694762 0.027078760957732984 0.045313843870072645 0.1368863366972714 0.2793493546399802

PLUG -0.08591271996013627 -0.005672603161229195 -0.03489311392845762 -0.07491803501707295 -0.07300042433257392 0.09932138310722423 -0.17507551329224574

MDO.DE 0.04000166986344911 0.014101470638978597 -0.005200754636057514 0.03265125805739144 0.1172188590004819 0.15131657798803214 0.35008908091227564

PYPL 0.08254198931470436 -0.03619333843382644 0.008546793500765926 -0.04596946778862521 -0.020548400592233396 0.07363018577773929 0.06200776177852453

V 0.052252933832550585 0.0036884067044218316 0.0021048456687288164 0.025355971234447994 0.11073660563349175 0.14545360311867156 0.33959236619231253

YNDX 0.029215030386113394 -0.01767467192315686 -0.008502557452421455 -0.016255893332115523 -0.07014117607581494 0.09962773113473411 0.01626846273733873

<ipython-input-24-fd477b20e8aa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yd['score'] = df_yd.apply(lambda row: relative_score(row), axis=1)

,Open,High,Low,Close,Adj Close,stock_id,ema_25,ema_100,sma_25,sma_100,bollinger,bollinger_lower_band,bollinger_upper_band,macd,signalline,RSI,CCI,dead_cat_bounce,score
619,317.820,319.1400,316.130,318.35,318.35,ACN,308.562274,288.177800,308.354415,287.466837,310.845575,301.269863,322.892863,6.604594,6.788231,64.348480,70.679524,False,0.351560
1088,204.500,206.2000,203.900,205.70,205.70,MDO.DE,200.163780,192.464864,199.196000,192.808922,201.032404,192.510924,208.239076,2.819665,2.239531,63.552963,64.863021,False,0.350089
1398,248.110,250.3800,247.095,247.92,247.92,V,242.519230,230.476174,241.789200,229.316779,243.758918,233.604050,253.126950,3.702981,3.520095,61.090513,50.858502,False,0.339592
776,281.400,286.2000,273.000,283.00,283.00,VOW.DE,277.625262,263.460266,275.538752,277.612781,277.505653,263.426890,288.098610,0.054351,-0.908125,57.492261,13.803393,False,0.279349
309,144.685,146.5500,144.580,145.64,145.64,AAPL,142.828667,133.660828,143.066400,131.260251,144.002296,139.078963,151.128037,3.134347,3.708395,51.210311,-31.409980,False,0.201847
464,143.650,144.6500,143.630,144.34,144.34,SAP,142.902533,138.439257,143.582400,136.532926,142.967026,136.333369,151.987631,-0.162520,0.273691,49.104175,3.169200,False,0.160594
154,3627.750,3637.9500,3580.010,3599.92,3599.92,AMZN,3580.538279,3398.223781,3591.650800,3344.139800,3598.918562,3476.890005,3783.963995,45.175867,57.790964,41.135898,-31.631900,False,0.075297
1243,285.370,289.0000,281.600,283.17,283.17,PYPL,294.218595,271.784926,296.814400,267.310350,296.084951,285.611059,310.354941,4.241154,6.290927,30.924678,-167.823511,True,0.062008
1553,69.050,69.1700,68.290,68.94,68.94,YNDX,69.473838,67.501772,70.079200,66.438950,69.531193,67.905072,72.103928,-0.032449,0.211250,41.843647,-60.677989,False,0.016268
931,27.830,28.0801,27.140,27.20,27.20,PLUG,28.475112,31.151414,29.402800,30.570900,28.183407,23.848578,32.942422,-0.972225,-0.941366,41.714981,28.597569,False,-0.175076